.header-navbar{
   position: fixed;
   top: 0;
   z-index: 1030;
  /* To keep the Navbar on Top */
}
.picture {
   margin: 100px;
}
#about-me {
   margin-top: 5em;
}
#about {
   margin-top: 3em;
}